# -------------------------
# Ignoriere alles
# -------------------------
*

# -------------------------
# Ausnahmen (diese Dateien/Ordner sollen NICHT ignoriert werden)
# -------------------------

# Gitignore selbst
!.gitignore

# Python-Quellcode
!*.py

# Wichtige Projektdateien
!requirements.txt
!README.md
!streamlit_app.py

# Teilnehmerlisten erlauben
!participants/
!participants/*.csv
!participants/*.txt
